* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: rgb(223, 192, 150);
}

body {
  font-size: 18px;
 
}

.nav {
  background-color: #1c1d1e;
  position: fixed;
  padding: 30px;
  height: 100vh;
  width: 250px;
  z-index: 0;
  
}

/* .nav .navLink{
  color: red;
  text-decoration: none;
} */

.nav ul {
  
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 100px;
  font-size: 40px;
  line-height: 32px;
  
}
.nav ul li {
  color: white;
}

.FilterCard{
  border: 1px solid orange;
  width: 1000px;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
}

#container{
  position: absolute;
  margin-left:6vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  
}

.emailCard {
  border: 1px solid black;
  width: 1000px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #1c1d1e;
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  gap:20px;
  line-height:33px;
  font-size: 22px;
  
}
.emailCard p{
  color: white;
}

.commonButton {
  width: 110px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  color: black;
}

.buttonCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.commonButton:first-child {
  align-self: flex-start;
}

.linkStyle {
  color: white;
  text-decoration: none;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
